

$black:#101010;
$white: #ffffff;
$transparent: transparent;





$overlay-bg: rgba(9, 7, 16, 0.6);


//v.2 color variables
$btn-blue: #3a81f5;

$yellow-star:#f1c40f;

$left-nav-bg:#393948;
$nav-bg: #2d2d39;

$sidebar-bg:#1C1C26;
$right-sidebar-bg:#1C1C26;

$dash-bg:#000000;
$table-bg: #333340;
$tab-hover:#47475d;

$new-green:#03BE74;
$new-red: #bf212c;

$new-light-border: #6b6b88;
$dark-border:#9592A1;


$new-card-bg:#272731;
$new-card-bg-active:#393948;
$new-card-bg-hover:#333340;

$input-bg: #202025;
$input-border: #333340;
$input-focus: #000000;
$input-button: #333340;
$input-button-hover: #47475d;

$action-bg: #1e1e23;

$big-card-bg: #272731;
$big-card-bg-border: #333340;

$modal-bg:#272731;
$modal-border: #333340;

