.action__btn{
  @extend .o-form__btn;
}
.dark-btn{
  border-radius: 4px;
  background-color: $input-button;
  font-family: $montMedium;
  color: $white;
  font-size: 12px;
  padding: 6px 15px;
  text-align: center;
  &:hover{
    background-color: $input-button-hover;
    color: $white;
  }
}
.btn-main{
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  text-decoration: none;
  font-family: $montMedium;
  text-align: center;
  color: $white;
  padding: 8px 30px;
  cursor: pointer;
  transition: .2s;
  user-select: none;
  position: relative;
  overflow: hidden;
  outline: none;
  &:focus{
    outline: none;
  }
}
