$form-height: 32px;
$form-width: $form-height;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.o-form {
  &-flex-col{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $form-height;
    margin-bottom: 15px;
    &.b-wrap{
      flex-wrap: wrap;
      height: auto;
      .o-form__btn{
        width: 48%;
        height: 30px;
        margin-bottom: 6px;
        border-radius: 4px;
        &.active{
          background-color: $btn-blue;
          &:hover{
            background-color: $btn-blue;
          }
        }
        &:hover{
          background-color: $input-button-hover;
        }
      }
    }
  }

  &__label {
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: $dark-border;
    user-select: none;
  }

  &__input {
    width: 100%;
    height: 100%;
    border: 1px solid $input-border;
    outline: none;
    border-radius: 4px;
    box-shadow: none;
    text-align: left;
    background-color: $input-bg;
    font-family: $montRegular;
    font-size: 13px;
    color: $white;
    padding-left: 8px;
    padding-right: 8px;
    &.counter{
      border-radius: 0;
      text-align: center;
    }
    &:focus{
      background-color: $input-focus;
      border-color: $btn-blue;
    }
  }
  &__under{
    color: $white;
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 11px;
    span:first-child{
      color: $dark-border;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $form-width;
    min-width: $form-width;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    background-color: $input-button;
    transition: .2s;
    font-size: 14px;
    color: $white;
    &:hover {
      color: $white;
      background-color: $btn-blue;
    }
  }

  &__btn {
    &.left {
      border-radius: 4px 0px 0px 4px;
    }

    &.right {
      border-radius: 0px 4px 4px 0px;
    }
  }

  &__btn:focus,
  &__btn:active {
    outline: none;
  }
}
.place-order-btn{
  @extend .o-form__btn;
  width: 100%;
  height: 36px;
  &.rd{
    background-color: $new-red;
  }
  &.grn{
    background-color: $new-green;
  }
  &:hover{
    background-color: $input-button-hover;
  }
}




//material switch style
.ex-material-switch > input[type="checkbox"] {
  display: none;
}

.ex-material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
  margin-bottom: 0;
}

.ex-material-switch > label::before {
  background: hsla(0,0%,100%,.5);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 14px;
  margin-top: -9px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
  width: 36px;
  right: 0;
  top: -4px;
}
.ex-material-switch > label::after {
  background: #bdbdbd;
  border-radius: 16px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  content: '';
  height: 20px;
  width: 20px;
  left: 0;
  margin-top: -8px;
  position: absolute;
  top: -8px;
  transition: all 0.2s ease-in-out;
}
.ex-material-switch > input[type="checkbox"]:checked + label::before {
  background: $btn-blue;
  opacity: 0.5;
}
.ex-material-switch > input[type="checkbox"]:checked + label::after {
  background: $btn-blue;
  left: 20px;
}
//material switch style ends
