.main-scrollbar{
  .os-scrollbar>.os-scrollbar-track{

  }
}
.main-scrollbar>.os-scrollbar .os-scrollbar-track>.os-scrollbar-handle{
  background-color: $table-bg;
}

.margin-scrollbar.os-host-overflow{
  margin-right: -11px;
  padding-right: 12px;
}
.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle.active,
.main-scrollbar.os-theme-dark>.os-scrollbar:hover>.os-scrollbar-track>.os-scrollbar-handle{
  background-color: $tab-hover;
}


.modal-main{
  .trade-form {
    padding: 0 10px;
    .place-order{
      width: 100%;
      margin: 20px 0;
      .btn-main{
        width: 100%;
        background-color: $input-button;
        color: $white;
        border: none;
        &.rd{
          background-color: $new-red;
        }
        &.grn{
          background-color: $new-green;
        }
      }
    }
    &__margin{
      text-align: center;
      color: #fff;
      margin: -5px 0;
      font-size: 13px;
      span:first-child{
        color: #a1a1bc;
        margin-right: 5px;
      }
    }
    &__types{
      display: flex;
      justify-content: space-between;
      margin-bottom: -20px;
      .btn-main{
        margin-bottom: 10px;
        background-color: $input-button;
        color: $white;
        &:hover{
          background-color: $input-button-hover;
        }
        &.active{
          background-color: $btn-blue;
        }
      }
    }
    &__input{
      width: 100%;
      background-color: $input-bg;
      border: 1px solid $input-border;
      border-radius: 4px;
      color: #fff;
      padding: 6px;
      transition: .2s;
      font-size: 14px;
      text-align: center;
      &:focus{
        background-color: $input-focus;
        border-color: $btn-blue;
      }
      &.b-0{
        border-radius: 0;
      }
    }
    &__counter{
      display: flex;
      button{
        display: inline-block;
        width: 40px;
        min-width: 40px;
        background-color: $input-button;
        color: $white;
        text-align: center;
        line-height: 32px;
        transition: .2s;
        cursor: pointer;
        border: none;
        outline: none!important;
        &:hover{
          background-color: $btn-blue;
        }
        &.left{
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        &.right{
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
    &__label{
      margin-bottom: 5px;
      color: #c9c5d4;
      font-family: $montBold;
      font-size: 14px;
    }
    &__wrapper{
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      &-full{
        width: 100%;
      }
      .btn-main{
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        border:none;
        &.rd{
          background-color: $new-red;
        }
        &.grn{
          background-color: $new-green;
        }
      }
      &-left,
      &-right{
        width: 50%;
      }
      &-left{
        padding-right: 5px;
      }
      &-right{
        padding-left: 5px;
      }
    }
    &__market{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      line-height: 1;
      &-name{
        color: $white;
        line-height: 1;
        font-family: $montBold;
      }
    }
  }
  .close:focus,
  .close:not(.disabled),
  .close:not(:disabled) {
    color: $white!important;
    opacity: 1;
    font-weight: unset;
    text-shadow: unset;
    outline: none;
  }
  .modal-content{
    background-color: $modal-bg;
    border: 1px solid $modal-border;
    .modal-header{
      border: none;
      color: $white;
      .modal-title{
        font-size: 16px;
        font-family: $montRegular;
      }
    }
    .modal-body{}
  }
}
