---
layout: default
title: Optima - Dashboard
---
<div class="trade-info">
    <div class="chart">
        <div class="t-white">chart goes here</div>
    </div>
    <div class="o-table-section">
        <div class="minimizer">
            <span>Hide</span>
            <i class="far fa-eye-slash"></i>
        </div>
        <ul class="nav trade-info-nav" id="trade-table" role="tablist">
            <li class="nav-item">
                <a href="#open-position" id="open-position-tab" class="nav-link active show" data-toggle="tab" area-controls="open-position" area-selected="true">Open position</a>
            </li>
            <li class="nav-item">
                <a href="#history" id="history-tab" class="nav-link" data-toggle="tab" area-controls="history" area-selected="false">History</a>
            </li>
            <li class="nav-item">
                <a href="#history" id="pendingOrders-tab" class="nav-link" data-toggle="tab" area-controls="pendingOrders" area-selected="false">pending Orders</a>
            </li>
            <li class="nav-item">
                <a href="#history" id="journal-tab" class="nav-link" data-toggle="tab" area-controls="journal" area-selected="false">Journal</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="open-position" role="tabpanel" area-labelledby="open-position-tab">
                <div class="o-table-section-wrapper">
                    <div class="trade-table-container">
                        <table class="o-table">
                            <thead>
                            <tr>
                                <th>order</th>
                                <th>symbol</th>
                                <th>type</th>
                                <th>size</th>
                                <th>open price</th>
                                <th>open time</th>
                                <th>s/l</th>
                                <th>t/p</th>
                                <th>profit</th>
                                <th>swap</th>
                                <th>commission</th>
                                <th>taxes</th>
                                <th>close price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn red">Sell</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn green">Buy</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn red">Sell</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn green">Buy</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn red">Sell</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn green">Buy</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn red">Sell</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn green">Buy</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn red">Sell</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn green">Buy</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn red">Sell</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td><span class="o-table__id">#3454</span></td>
                                <td>USD/EUR</td>
                                <td><span class="o-table__btn green">Buy</span></td>
                                <td>0.01</td>
                                <td>56.64</td>
                                <td>12.04.2020 14:44:17</td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green"><i class="far fa-check"></i></span></td>
                                <td><span class="t-green">0.1</span></td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel" area-labelledby="history-tab">
                <div class="o-table-section-wrapper">
                    <div class="trade-table-container">
                        <table class="o-table">
                            <thead>
                            <tr>
                                <th>order</th>
                                <th>symbol</th>
                                <th>type</th>
                                <th>size</th>
                                <th>open price</th>
                                <th>open time</th>
                                <th>s/l</th>
                                <th>t/p</th>
                                <th>profit</th>
                                <th>swap</th>
                                <th>commission</th>
                                <th>taxes</th>
                                <th>close price</th>
                                <th>comment</th>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pendingOrders" role="tabpanel" area-labelledby="pendingOrders-tab">
                <div class="o-table-section-wrapper">
                    <div class="trade-table-container">
                        <table class="o-table">
                            <thead>
                            <tr>
                                <th>order</th>
                                <th>symbol</th>
                                <th>type</th>
                                <th>size</th>
                                <th>open price</th>
                                <th>open time</th>
                                <th>s/l</th>
                                <th>t/p</th>
                                <th>profit</th>
                                <th>swap</th>
                                <th>commission</th>
                                <th>taxes</th>
                                <th>close price</th>
                                <th>comment</th>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="journal" role="tabpanel" area-labelledby="journal-tab">
                <div class="o-table-section-wrapper">
                    <div class="trade-table-container">
                        <table class="o-table">
                            <thead>
                            <tr>
                                <th>order</th>
                                <th>symbol</th>
                                <th>type</th>
                                <th>size</th>
                                <th>open price</th>
                                <th>open time</th>
                                <th>s/l</th>
                                <th>t/p</th>
                                <th>profit</th>
                                <th>swap</th>
                                <th>commission</th>
                                <th>taxes</th>
                                <th>close price</th>
                                <th>comment</th>
                            </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--right sidebar-->
<div class="trade-action-lg">
    <div class="trade-action-lg_wrapper">
        <div class="user-balance">
            <div class="user-balance__flex">
                <span>Equity</span>
                <span>91887.46</span>
            </div>
            <div class="user-balance__flex">
                <span>Free Margin</span>
                <span>89468.29 / 3798.38 %</span>
            </div>
            <div class="user-balance__flex">
                <span>Profit/Loss</span>
                <span>4828.53</span>
            </div>
        </div>
        <div class="trade-action-container">
            <form action="">
                <div class="trade-action-lg-flex">
                    <div class="o-form-flex-col">
                        <div class="o-form">
                            <label class="o-form__label">Volume</label>
                            <div class="o-form__wrapper">
                                <input class="o-form__input counter" type="number" min="0" max="1000" step="100" value="0" data-inc="10">
                            </div>
                        </div>
                        <div class="buy-sell">
                            <button class="buy-sell__btn buy">
                                <p>Buy</p>
                                <span>1.13045</span>
                            </button>
                            <button class="buy-sell__btn sell">
                                <p>Sell</p>
                                <span>1.13045</span>
                            </button>
                        </div>
                        <div class="add-pending">
                            <div class="add-pending__switch">
                                <label class="o-form__label">Add Pending Order</label>
                                <div class="ex-material-switch">
                                    <input id="switcher" name="switcher" type="checkbox"/>
                                    <label for="switcher" class="label-default"></label>
                                </div>
                            </div>
                            <div class="add-pending__container">
                                <div class="o-form">
                                    <label class="o-form__label">Choose order type</label>
                                    <div class="o-form__wrapper b-wrap">
                                        <button class="o-form__btn">Sell Limit</button>
                                        <button class="o-form__btn">Buy Limit</button>
                                        <button class="o-form__btn">Sell Stop</button>
                                        <button class="o-form__btn">Buy Stop</button>
                                    </div>
                                </div>
                                <div class="o-form">
                                    <label class="o-form__label">Price</label>
                                    <div class="o-form__wrapper">
                                        <input class="o-form__input" value="0.65565">
                                    </div>
                                    <div class="o-form__under">
                                        <span>Free Margin:</span>
                                        <span>92623.61</span>
                                    </div>
                                </div>
                                <div class="o-form">
                                    <label class="o-form__label">Expiry Date</label>
                                    <div class="o-form__wrapper">
                                        <input class="o-form__input" value="07/14/2020 12:53 PM">
                                    </div>
                                </div>
                                <div class="o-form">
                                    <button class="place-order-btn">Place Buy Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
