.dashboard{
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: $dash-bg;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  &-container{
    padding-left: 280px;
    width: 100%;
    position: relative;
    @media #{$breakpoint-lg}{
      padding-left: 0;
    }
  }
  &-overlay{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
    height: 100%;
    @media #{$breakpoint-lg}{
      padding-top: 60px;
    }
  }
  &-content{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
    .trade-info{
      height: 100%;
      width: 60%;
      flex: 1 1 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      @media #{$breakpoint-lg}{
        padding-bottom: 182px;
        &.table{
          padding-bottom: 0;
          .chart{
            display: none;
          }
        }
      }
    }
    .trade-action-lg{
      background-color: $right-sidebar-bg;
      height: 100%;
      width: 30%;
      min-width: 170px;
      flex: 2 2 40%;
      padding: 15px;
      max-width: 280px;
      &_wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .trade-action-container{
        height: 100%;
      }
      @media #{$breakpoint-lg}{
        display: none;
      }
      form{
        height: 100%;
      }
      &-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .buy-sell{
      display: flex;
      justify-content: space-between;
      width: 100%;
      &.disabled{
        .buy-sell__btn{
          border-color: $dark-border;
          color: $dark-border;
          cursor: default;
          height: 36px;
          &:hover{
            color: $dark-border;
            background-color: $transparent;
          }
          span{
            display: none;
          }
        }
      }
      .buy-sell__btn{
        &.disabled{
            border-color: $dark-border;
          color: $dark-border;
          cursor: default;
          height: 36px;
          &:hover{
            color: $dark-border;
            background-color: $transparent;
          }
          span{
            display: none;
          }
        }
      }
      &__btn{
        color: $white;
        border-style: solid;
        border-width: 1px;
        padding: 10px 0;
        position: relative;
        margin-bottom: 15px;
        outline: none;
        box-shadow: none;
        border-radius: 4px;
        cursor: pointer;
        width: 48%;
        height: 62px;
        transition: .2s;
        background-color: $transparent;
        p{
          font-size: 16px;
          font-family: $montMedium;
          margin-bottom: 0;
          line-height: 1;
        }
        span{
          font-size: 13px;
          font-family: $montRegular;
        }
        &.buy{
          border-color: $new-green;
          &.active,
          &:hover{
            background-color: $new-green;
          }
        }
        &.sell{
          border-color: $new-red;
          &.active,
          &:hover{
            background-color: $new-red;
          }
        }
      }
    }
  }
}
.chart{
  height: 100%;
}
.trade-info{
  &-nav{
    @media #{$breakpoint-lg}{
      flex-wrap: nowrap;
      padding: 0 10px;
      overflow: auto;
    }
    .nav-item{
      @media #{$breakpoint-lg}{
        width: 50%;
      }
    }
    .nav-link{
      text-align: center;
      color: $white;
      font-family: $montMedium;
      background-color: $table-bg;
      padding: 6px 10px;
      height: 30px;
      font-size: 12px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-left: 5px;
      white-space: nowrap;
      @media #{$breakpoint-lg}{
        border-radius: 4px;
        margin: 5px;
      }
      &:hover{
        background-color: $tab-hover;
      }
      &.active{
        background-color: $sidebar-bg;
        @media #{$breakpoint-lg}{
          background-color: $btn-blue;
        }
      }
    }
  }
  .tab-content{
    padding: 0 5px;
    width: 100%;
    @media #{$breakpoint-lg}{
      height: 100%;
      .tab-pane{
        height: 100%;
      }
      .o-table-section-wrapper{
        height: calc(100% - 60px);
      }
    }
  }
  .o-table-section{
    width: 100%;
    transform: translateY(0%);
    position: relative;
    .minimizer{
      position: absolute;
      color: $white;
      right: 5px;
      top: 0;
      height: 30px;
      padding: 0 8px;
      display: flex;
      align-items: center;
      line-height: 30px;
      min-width: 40px;
      text-align: center;
      cursor: pointer;
      transition: .2s;
      background-color: $sidebar-bg;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      @media #{$breakpoint-lg}{
        display: none;
      }
      i{
        font-size: 10px;
      }
      span{
        display: inline-block;
        padding-right: 8px;
        font-size: 10px;
      }
      &:hover{
        background-color: $tab-hover;
      }
    }
    &.hidden{
      height: 33px;
      overflow: hidden;
      transform: translateY(calc(100% - 33px));
      .minimizer{
        background-color: $table-bg;
        &:hover{
          background-color: $tab-hover;
        }
        i{
          transform: rotate(180deg);
        }
      }
    }
    @media #{$breakpoint-lg}{
      display: none;
      height: 100%;
      &.active{
        display: block;
      }
    }
    &-wrapper{
      padding: 15px 0;
      background-color: $sidebar-bg;
    }
  }
}


.trade-table-container{
  width: 100%;
  height: 100%;
  min-height: 40px;
  max-height: 220px;
  @media #{$breakpoint-lg}{
    max-height: 100%;
  }
}
.o-table{
  width: 100%;
  thead{
    border-bottom: 1px solid $table-bg;
    th{
      text-transform: uppercase;
      color: $dark-border;
      font-size: 12px;
      font-family: $montMedium;
      padding: 0 5px 10px 10px;
      white-space: nowrap;
      border: none;
    }
  }
  tbody{
    tr:nth-child(odd){
      background-color: $sidebar-bg;
      &:hover{
        background-color: lighten($sidebar-bg, 2%);
      }
    }
    tr:nth-child(even){
      background-color: $table-bg;
      &:hover{
        background-color: lighten($table-bg, 2%);
      }
    }

    td{
      padding: 6px 10px;
      color: $white;
      font-size: 11px;
      font-family: $montMedium;
      white-space: nowrap;
      border:none;
      .o-table__id{
        color: $dark-border;
      }
      .o-table__btn{
        padding: 3px 10px;
        border-radius: 4px;
        cursor: pointer;
        &.red{
          background-color: $new-red;
        }
        &.green{
          background-color: $new-green;
        }
      }
    }
  }
}
.user-balance{
  padding: 10px 15px;
  border-radius: 4px;
  background-color: $big-card-bg;
  border: 1px solid $big-card-bg-border;
  margin-bottom: 10px;
  &__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    span{
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    span:first-child{
      color: $dark-border;
      max-width: 40%;
    }
    span:last-child{
      font-family: $montMedium;
      color: $white;
      max-width: 60%;
    }
  }
}
.add-pending{

  &__switch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    .o-form__label{
      margin-bottom:0;
      color: $white;
      font-family: $montMedium;
    }
  }
  &__container{
    border-radius: 4px;
    padding: 10px;
    background-color: $big-card-bg;
    border: 1px solid $btn-blue;
    display: none;
  }
}


























.testDiv{
  min-height: 300px;
  background-color: #E2E2E2;
  &:nth-child(odd){
    background-color: #9fcdff;
  }
}
