.nav-close-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $overlay-bg;
  left: 0;
  top: 0;
  z-index: 99;
  cursor: pointer;
  display: none;
  &.active{
    display: block;
  }
}
.o-nav{
  background-color: $nav-bg;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 15px;
  z-index: 10;
  @media #{$breakpoint-lg}{
    right: 0;
    left: unset;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $new-card-bg;
    z-index: 100;
    width: 80%;
    max-width: 320px;
    padding: 30px 20px;
    transition: .2s;
    transform: translateX(100%);
    &.active{
      transform: translateX(0);
    }
  }
  &__balance{
    display: flex;
    align-items: center;
    span,
    a{
      align-items: center;
      color: $white;
      font-family: $montMedium;
      font-size: 13px;
      &:hover{
        color: $white;
      }
    }
    .balance-btn{
      background-color: $transparent;
      position: relative;
      padding: 0 20px;
      height: 36px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      border:1px solid $new-green;
      margin:0 10px;
      transition: .2s;
      font-size: 13px;
      a{
        visibility: hidden;
        opacity: 0;
        transition: .2s;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
      }
      span{
        visibility: visible;
        opacity: 1;
        user-select: none;
        color: $new-green;
      }
      &:hover{
        background-color: $new-green;
        a{
          visibility: visible;
          opacity: 1;
        }
        span{
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
  &__user{
    margin-right: 10px;
    @media #{$breakpoint-lg}{
      width: 100%;
      margin-right: 0;
    }
    &.open{
      .o-nav__user-dropdown{
        background-color: darken($btn-blue, 6%);
        i{
          transform: rotate(180deg);
        }
      }
      .o-nav__user-list{
        display: block;
      }
    }
    position: relative;
    &-btn{
      display: flex;
      align-items: center;
      color: $white;
      height: 36px;
      border-radius: 4px;
      background-color: $btn-blue;
      padding-left: 15px;
      @media #{$breakpoint-lg}{
        padding-right: 15px;
      }
      a{
        color: $white;
        font-size: 13px;
        display: flex;
        align-items: center;
        i{
          font-size: 25px;
          margin-right: 10px;
        }
      }
    }
    &-dropdown{
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: .2s;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-left: 10px;
      @media #{$breakpoint-lg}{
        display: none;
      }
      &:hover{
        background-color: darken($btn-blue, 6%);
      }
    }
    &-list{
      position: absolute;
      left: 0;
      width: 100%;
      margin-top: 10px;
      top: 100%;
      border-radius: 4px;
      background-color: $new-card-bg;
      border:1px solid $btn-blue;
      padding-top: 10px;
      display: none;
      @media #{$breakpoint-lg}{
        display: block;
        position: relative;
      }
      span{
        color: $dark-border;
        font-size: 12px;
        font-family: $montRegular;
        padding: 0px 15px;
        width: 100%;
        display: block;
      }
      p{
        color: $white;
        font-size: 13px;
        font-family: $montMedium;
        padding: 0 15px;
        margin: 0;
        white-space: nowrap;
      }
    }
    &-logout{
      text-align: center;
      width: calc(100% - 2px);
      background-color: $input-bg;
      color: $white;
      padding: 10px 0;
      font-size: 13px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $montMedium;
      margin: 10px auto 0 auto;
      transition: .2s;
      user-select: none;
      i{
        font-size: 16px;
        margin-right: 5px;
      }
      &:hover{
        color: $white;
        background-color: $input-focus;
      }
    }
  }
  &__lang{
    position: relative;
    &.open{
      .o-nav__lang-btn{
        background-color: darken($btn-blue, 6%);
      }
      .o-nav__lang-list{
        display: block;
      }
    }
    &-btn{
      width: 36px;
      height: 36px;
      cursor: pointer;
      border-radius: 4px;
      background-color: $btn-blue;
      color: $white;
      text-align: center;
      align-items: center;
      display: flex;
      font-size: 13px;
      justify-content: center;
      transition: .2s;
      text-transform: uppercase;
      &:hover{
        background-color: darken($btn-blue, 6%);
      }
    }
    &-list{
      padding: 0;
      text-transform: uppercase;
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      margin-top: 10px;
      top: 100%;
      border-radius: 4px;
      background-color: $new-card-bg;
      border:2px solid $btn-blue;
      display: none;
      a{
        color: $white;
        display: block;
        width: 100%;
        text-align: center;
        padding: 6px 0;
        font-size: 13px;
        transition: .2s;
        &:hover{
          background-color: $btn-blue;
        }
      }
    }
  }
}
.o-nav-wrapper{
  display: flex;
  @media #{$breakpoint-lg}{
    width: 100%;
    height: auto;
  }
}
.o-nav__balance{
  @media #{$breakpoint-lg}{
    width: 100%;
    justify-content: space-between;
    position: absolute;
    left: 0;
    padding: 0 20px;
    top: 90px;
    z-index: 2;
  }
  .balance-btn{
    @media #{$breakpoint-lg}{
      margin:0;
    }
  }
}
.o-nav__user-btn{
  @media #{$breakpoint-lg}{
    padding-right: 44px;
    margin-bottom: 76px;
  }
}
.o-nav__user-list{
  @media #{$breakpoint-lg}{
    border:none;
    box-shadow: none;
    position: initial;
    width: 100%;
    border-radius: 4px;
    margin-top: 0;
  }
  li{
    @media #{$breakpoint-lg}{
      padding: 10px 0;
      display: flex;
      border-bottom:1px solid $new-light-border;
      span{
        padding: 0;
        font-family: $montRegular;
        color: $dark-border;
      }
      p{
        padding: 0;
      }
    }
  }
  li:last-child{
    padding: 0;
    border:none;
  }
}
.o-nav__user-logout{
  @media #{$breakpoint-lg}{
    border-radius: 4px;
    width: 100%;
    margin-top: 50px;
  }
}
.o-nav__lang {
  @media #{$breakpoint-lg}{
    position: absolute;
    right: 20px;
    z-index: 3;
  }
  &-btn{
    @media #{$breakpoint-lg}{
      background-color: darken($btn-blue, 6%);
    }
  }
}
