@import "../theme/hamburger";

.sidebar {
  &.hidden {
    transform: translateX(-100%);
    .trade-action,
    .sidebar__header{
      transform: translateX(100%) !important;
    }

    .sidebar__header {
      .back-btn {
        display: block;
      }
    }
  }

  &.fullscreen {
    max-width: 100%;

    .equal {
      display: none;
    }

    .bid-ask {
      margin-top: 5px;
    }

    .sidebar__header {
      padding: 14px 15px;
      min-height: 60px;
      height: 60px;
    }

    .logo {
      height: 100%;

      img {
        height: 100%;
      }
    }

    .market {
      padding: 10px;

      &__slider {
        margin-bottom: 15px;
      }
    }

    .hamburger {
      display: block;
    }
  }

  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: $sidebar-bg;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 98;
  height: 100%;
  width: 100%;
  max-width: 280px;
  transition: .2s ease-in-out;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: $left-nav-bg;
    max-height: 60px;
    min-height: 60px;

    .back-btn {
      color: $white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      height: 20px;
      width: 20px;
      font-size: 22px;
      display: none;
    }

    .hamburger {
      display: none;
    }
  }
}
.trade-action {
  display: none;
  height: 182px;
  background-color: $action-bg;
  @media #{$breakpoint-lg}{
    display: block;
  }
}
.market {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &__search {
    width: 100%;
    margin-bottom: 10px;
    &-form {
      position: relative;
      width: 100%;
      height: 32px;
      display: flex;
      transition: .2s;

      input {
        background-color: $input-bg;
        color: $white;
        border: 1px solid $input-border;
        padding: 0 55px 0 15px;
        font-size: 13px;
        font-family: $montMedium;
        border-radius: 4px 0px 0px 4px;
        width: calc(100% - 32px);
        padding: 0 10px 0 10px;
        &:focus{
          background-color: $input-focus;
          border-color: $btn-blue;
        }
      }

      button {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        width: 32px;
        color: $white;
        background-color: $input-button;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: .2s;
        &:hover{
          background-color: $btn-blue;
        }
      }
    }
  }

  &__list {
    height: 100%;
    overflow: hidden;
  }
}

.market__dropdown {
  width: 100%;
  position: relative;
  color: $white;
  overflow: hidden;
  &.active {
    .market__dropdown-label {
      background-color: $table-bg;
      &::before{
        background-color: $table-bg;
        transform: translateY(-50%) rotate(90deg);
        color: $btn-blue;
      }
    }
  }

  &-label {
    padding: 8px 10px 8px 28px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
    position: relative;
    user-select: none;
    border-radius: 4px;
    margin-bottom: 5px;
    &::before{
      font-size: 10px;
      transition: .2s;
      font-family: Font Awesome\ 5 Pro;
      content: "\f054";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 26px;
      width: 26px;
      color: $new-light-border;
      border-radius: 50%;
      text-align: center;
      line-height: 26px;
    }
    &:hover {
      background-color: $tab-hover;
    }
  }

  &-content {
    max-height: 320px;
    overflow: hidden;
    //continue from here
  }

  &-card {
    padding: 5px 10px;
    background-color: $new-card-bg;
    display: block;
    align-items: center;
    width: 100%;
    transition: .2s;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    border: 1px solid $new-card-bg;
    &.active{
      background-color: $new-card-bg-active;
      border-color: $btn-blue;
      &:hover{
        border-color: $btn-blue;
        background-color: $new-card-bg-active;
      }
    }
    &:hover {
      border-color: $new-card-bg-hover;
      background-color: $new-card-bg-hover;
    }

    &__info {
      width: 100%;
    }

    &__title {
      display: flex;
      justify-content: space-between;

      h2 {
        text-transform: uppercase;
        color: $white;
        margin-right: 10px;
        margin-bottom: 0;
        line-height: 24px;
        font-family: $montMedium;
        font-size: 13px;
      }

      .arrow {
        font-size: 14px;
        position: relative;
        width: 20px;
        height: 20px;
        font-weight: 900;
        font-family: Font Awesome\ 5 Pro;

        &::before {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          vertical-align: middle;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 20px;
        }

        &.down {
          &::before {
            content: "\f0dd";
            color: $new-red;
            line-height: 10px;
          }
        }

        &.up {
          &::before {
            content: "\f0de";
            color: $new-green;
            line-height: 28px;
          }
        }
      }
    }

    &__favorite {
      cursor: pointer;
      width: 14px;
      height: 14px;
      font-family: Font Awesome\ 5 Pro;
      position: relative;
      margin-top: 2px;

      &::before {
        content: "\f005";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        vertical-align: middle;
        color: $dark-border;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 1;
      }

      &.active {
        &::before {
          font-weight: 900;
          color: $yellow-star;
        }
      }
    }

    .bid-ask {
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 12px;
      justify-content: space-between;
      width: 100%;

      span {
        color: $dark-border;

        &:nth-child(2) {
          color: $white;
        }
      }
    }
  }
}
.trade-action__buy-sell{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 10px 5px 10px;
  .o-form__wrapper{
    margin-bottom: 10px;
  }
  .trade-advanced{
    font-size: 11px;
    display: block;
    height: 30px;
    border-radius: 4px;
    background-color: $btn-blue;
    border:1px solid $btn-blue;
    display: flex;
    align-items: center;
    font-family: $montMedium;
    color: $white;
    justify-content: center;
  }
  .action-btn{
    min-width: 80px;
    width: 80px;
    height: 72px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    background-color: $transparent;
    p{
      font-size: 16px;
      font-family: $montMedium;
      margin-bottom: 0;
      line-height: 1;
      color: $white;
    }
    span{
      font-size: 13px;
      font-family: $montRegular;
      color: $white;
    }
    &.sell{
      background-color: $new-red;
      border-color: $new-red;
      margin-right: 10px;
    }
    &.buy{
      background-color: $new-green;
      border-color: $new-green;
      margin-left: 10px;
    }
  }
}
.trade-action__footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  .dark-btn{
    width: 49%;
    margin: 5px 0;
  }
}
@keyframes fade-bounce {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 26px;
    height: 26px;
    opacity: .1;
  }
}
