<div class="modal fade show" id="positionModal" tabindex="-1" role="dialog" aria-labelledby="positionModalTitle" aria-hidden="true">
    <div class="modal-main position-modal modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="positionModalTitle">Open New Position</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="far fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="trade-form">
                        <div class="trade-form__market">
                            <div class="trade-form__market-name">AUDNZD</div>
                        </div>
<!--                        <div class="trade-form__wrapper">-->
<!--                            <div class="trade-form__wrapper-left">-->
<!--                                <h6 class="trade-form__label">Sell</h6>-->
<!--                                <button class="btn-main rd">1.11072</button>-->
<!--                            </div>-->
<!--                            <div class="trade-form__wrapper-right">-->
<!--                                <h6 class="trade-form__label">Buy</h6>-->
<!--                                <button class="btn-main grn">1.11074</button>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="trade-form__wrapper">
                            <div class="trade-form__wrapper-full">
                                <h6 class="trade-form__label text-center">Volume</h6>
                                <div class="trade-form__counter">
                                    <button type="button" class="trade-form__btn left mns">
                                        <i class="fal fa-minus"></i>
                                    </button>
                                    <input class="trade-form__input b-0" type="text" type="number" min="0" max="1000" step="100" value="0" data-inc="10">
                                    <button type="button" class="trade-form__btn right pls">
                                        <i class="fal fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
<!--                        <div class="trade-form__wrapper">-->
<!--                            <div class="trade-form__wrapper-left">-->
<!--                                <h6 class="trade-form__label">Stop Loss</h6>-->
<!--                                <input class="trade-form__input" type="text" placeholder="0.00000">-->
<!--                            </div>-->
<!--                            <div class="trade-form__wrapper-right">-->
<!--                                <h6 class="trade-form__label">Take Profit</h6>-->
<!--                                <input class="trade-form__input" type="text" placeholder="0.00000">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="trade-form__wrapper">
                            <div class="trade-form__wrapper-full">
                                <h6 class="trade-form__label text-center">Choose order type</h6>
                                <div class="trade-form__types">
                                    <div class="trade-form__wrapper-left">
                                        <button type="button" class="btn-main active">Sell Limit</button>
                                        <button type="button" class="btn-main">Buy Limit</button>
                                    </div>
                                    <div class="trade-form__wrapper-right">
                                        <button type="button" class="btn-main">Sell Stop</button>
                                        <button type="button" class="btn-main">Buy Stop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="trade-form__wrapper">
                            <div class="trade-form__wrapper-full">
                                <h6 class="trade-form__label">Price</h6>
                                <input class="trade-form__input" type="text" placeholder="0.00000">
                            </div>
                        </div>
                        <div class="trade-form__margin">
                            <span>Free Margin:</span>
                            <span>41.98</span>
                        </div>
                        <div class="trade-form__wrapper">
                            <div class="trade-form__wrapper-full">
                                <h6 class="trade-form__label">Expiry Date</h6>
                                <input class="trade-form__input" type="text" value="06/02/2020 5:12 PM">
                            </div>
                        </div>
                        <div class="place-order">
                            <button class="btn-main">Place Buy Order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
