<div class="nav-close-overlay"></div>
<nav class="o-nav">
    <div class="o-nav__balance">
        <span>Balance:</span>
        <div class="balance-btn">
            <a href="#!">Deposit</a>
            <span>$ 1243,67</span>
        </div>
    </div>
        <div class="o-nav__user">
            <div class="o-nav__user-btn">
                <a href="#!">
                    <i class="fa fa-user-circle"></i>
                    <span>5247</span>
                </a>
                <div class="o-nav__user-dropdown">
                    <i class="far fa-chevron-down"></i>
                </div>
            </div>
            <ul class="o-nav__user-list">
                <li>
                    <span>Equity</span>
                    <p>0.00</p>
                </li>
                <li>
                    <span>Free Margin</span>
                    <p>0.00 / 0.00%</p>
                </li>
                <li>
                    <span>Profit/Loss</span>
                    <p>0.00</p>
                </li>
                <li>
                    <a href="#!" class="o-nav__user-logout">
                        <i class="fal fa-sign-out"></i>
                        Log out
                    </a>
                </li>
            </ul>
        </div>
        <div class="o-nav__lang">
            <div class="o-nav__lang-btn">en</div>
            <ul class="o-nav__lang-list">
                <li><a href="#!">ru</a></li>
            </ul>
        </div>
</nav>
