{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
{{>modals}}
<div class="dashboard">
    {{>sidebar}}
    <div class="dashboard-container">
        <div class="dashboard-overlay">
            {{>navigation}}
            <div class="dashboard-content">
                {{> body}}
            </div>
        </div>
    </div>
</div>

<script src="assets/vendors/js/jquery.min.js"></script>
<script src="assets/vendors/js/bootstrap.min.js"></script>
<script src="assets/vendors/js/jquery.overlayScrollbars.min.js"></script>
<script src="assets/vendors/js/slick.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
